VERSION = 0.0.1

ARCH ?= x86
# BOOT ?= bios

ECHO = /bin/echo -e
CAT = /bin/cat
NASM = nasm
CC = cc
LD = ld
RM = rm -f

KCC = ${CC}
KDEFS = -DVERSION="${VERSION}"
KCCFLAGS = -c -O0 -Wall -Wextra -nostdlib -nostartfiles -nodefaultlibs ${KDEFS}
KNASM = ${NASM}
KNASMFLAGS = -f elf
KLD = ${LD}
KLDFLAGS = 

# IF ARCH
KCCFLAGS += -m32
KLDFLAGS += -melf_i386

